[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine
dnspython
pymongo
flask
flask-sqlalchemy
flask-mongoengine

[dev-packages]

[requires]
python_version = "3.10"
