[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moralis = "*"
flask = "*"
flask_cors = "*"
thirdweb-sdk = "*"
python-dotenv = "*"
psycopg2 = "*"
matplotlib = "*"
lightkurve = "*"
nbformat = "*"

[dev-packages]
