[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightkurve = "*"
mongoengine = "*"
tensorflow = "*"
pandas = "*"
numpy = "*"
scipy = "*"
astropy = "*"
pydi = "*"
bazel = "*"
abseil = "*"

[dev-packages]

[requires]
python_version = "3.10"
